<template>
    <div class="cratejoy">
        <div class="form-group">
            <label for="product_type" class="col-sm-2 control-label">Product Type</label>
            <div class="col-sm-10">            
                <select id="product_type" class="form-control" name="product_type" v-if=productsetting>
                    <option value="all" :selected="'all' == ((old.product_type) ? old.product_type : productsetting.mapping.product_type)">All</option>
                    <option value="one_time" :selected="'one_time' == ((old.product_type) ? old.product_type : productsetting.mapping.product_type)">One Time</option>
                    <option value="subscription" :selected="'subscription' == ((old.product_type) ? old.product_type : productsetting.mapping.product_type)">Subscription</option>                    
                    <option value="gift" :selected="'gift' == ((old.product_type) ? old.product_type : productsetting.mapping.product_type)">Gift</option>                                          
                </select>

                <select id="product_type" class="form-control" name="product_type" v-else>
                    <option value="all" :selected="'all' == old.product_type">All</option>
                    <option value="one_time" :selected="'one_time' == old.product_type">One Time</option>
                    <option value="subscription" :selected="'subscription' == old.product_type">Subscription</option>
                    <option value="gift" :selected="'gift' == old.product_type">Gift</option>                                          
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox checkbox-primary">
                <input id="migrate_invalid_product" value="true" :checked="'true' == ((old.migrate_invalid_product) ? old.migrate_invalid_product : productsetting.mapping.migrate_invalid_product)" name="migrate_invalid_product" type="checkbox" v-if=productsetting>
                <input id="migrate_invalid_product" value="true" :checked="'true' == old.migrate_invalid_product" name="migrate_invalid_product" type="checkbox" v-else>
                <label for="migrate_invalid_product">
                    If product has more than 3 type then shopify not allowed more than 3 options. We migrate only first 3 options if you still want to migrate them ?
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:  ['errors', 'old', 'productsetting'],
        mounted() {
            console.log("CrateJoy Product vue File");
        }
    }
</script>

