<template>
    <div class="cratejoy">
        <hr>
        <h4 class="m-t-0 header-title text-center m-b-20"><b>Financial Status Mapping</b></h4>
        <div class="row">
            <div class="col-sm-5 text-center">
                <label>Source status</label>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-5 text-center">
                <label>Target status</label>
            </div>
        </div>

        <div class="row" v-for="financial_status, index in settings.financial_statuses">
            <div class="col-sm-5 text-center">
                <p class="text-uppercase" style="line-height: 2.6">{{financial_status}}</p>
            </div>
            <div class="col-sm-2">
                <h4>></h4>
            </div>
            <div class="col-sm-5 text-center">
                <select id="order_type" class="form-control" :name="'financial_status['+financial_status+']'">
                    <option value="pending" :value="shopify_financial_status" v-for="shopify_financial_status in shopify_settings.financial_statuses">{{shopify_financial_status}}</option>
                </select>
            </div>
        </div>

        <hr>
        <h4 class="m-t-0 header-title text-center m-b-20"><b>Fulfillments Status Mapping</b></h4>
        <div class="row">
            <div class="col-sm-5 text-center">
                <label>Source status</label>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-5 text-center">
                <label>Target status</label>
            </div>
        </div>

        <div class="row" v-for="fulfillment_status, index in settings.fulfillment_statuses">
            <div class="col-sm-5 text-center">
                <p class="text-uppercase" style="line-height: 2.6">{{fulfillment_status}}</p>
            </div>
            <div class="col-sm-2">
                <h4>></h4>
            </div>
            <div class="col-sm-5 text-center">
                <select id="order_type" class="form-control" :name="'fulfillment_status['+fulfillment_status+']'">
                    <option :value="shopify_fulfillment_status" v-for="shopify_fulfillment_status in shopify_settings.fulfillment_statuses">{{shopify_fulfillment_status}}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                settings: [],
            }
        },
        props: ['shopify_settings', 'platform_id', 'errors', 'old', 'ordersetting'],
        mounted() {
            this.getPlatformDetails();
        },
        methods: {
            getPlatformDetails() {
                var app = this;
                window.axios.get('/api/platforms/' + this.platform_id)
                        .then(function (response) {
                            app.settings = response.data.setting.shopify_order;
                        }, function (response) {
                            console.log(response.statusText);
                        });
            }
        }
    }
</script>

