/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Feb, 2018, 2:51:18 PM
    Author     : priyanka
*/

.profile-icon .iconbox{
    display: inline-block;
    height: 38px;
    width: 38px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    background-clip: padding-box;
    color: #ffffff;
    text-align: center;
    line-height: 38px;    
}
.profile-icon .iconbox span{
    font-size: 20px;
    font-weight: 700;
}

[v-cloak] {
    display: none;
}